@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400&family=Style+Script&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
}
input{
  width: 50%;
  padding: .2rem;
}